<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>profile</title>
</head>

<body>
    <h1>Profile</h1>
    <a href="/addQuiz">Add Quiz</a> <br>

    <a href="/logout">Logout</a>

    <h4>Hello </h4>




    <button id="toRenderQuestions" type="submit"> Show My Quizzes</button>


    <form action="/showAllQuestions" id="userQuestions" style="display: none;" method="POST">

        <% results.forEach(fromDB=> { %>

            <%console.log(fromDB)%>
                <p>
                    <%= fromDB.question %>
                </p>

                <input type="radio" value="<%= fromDB.optiona %>" required>
                <%= fromDB.optiona %>
                    </input>

                    <br />

                    <input type="radio" value="<%= fromDB.optionb %>" required>
                    <%= fromDB.optionb %>
                        </input>

                        <br />

                        <input type="radio" value="<%= fromDB.optionc %> " required>
                        <%= fromDB.optionc %>
                            </input>

                            <br />

                            <input type="radio" value="<%= fromDB.optiond %>" required>

                            <%= fromDB.optiond %>

                                </input>

                                <hr />


                                <input type="submit" value="submit"> </input>

    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        function handleButton(req, res) {
            $('#toRenderQuestions').on('click', function(event) {
                $("#userQuestions").css('display', 'block');
            });

        }
        handleButton();
    </script>



    <button onclick="handle(this)">Update Quizzes</button>
    <script>
        function handle(element) {
            const formElement = document.getElementsByClassName('updateForm');
            formElement.item(0).style.display = 'block';
            formElement.item(1).style.display = 'block';
            element.style.display = "none";
        }
    </script>

    <section id="editDetails"></section>

    <form class="updateForm" action="profile/<%= fromDB.id %>?_method=DELETE" method="POST" style='display: none;'>
        <input type="hidden" value="<%= fromDB.id %>">

        <input type="submit" value="Delete Quiz">
    </form>


    <section>

        <form class="updateForm" action="profile/<%= fromDB.user_id %>?_method=PUT" method="POST" style='display: none;'>
            <fieldset>
                <% console.log(fromDB.user_id) %>

                    <legend>Update Quiz</legend>
                    <input type="hidden" value="<%= fromDB.id %>">

                    <label for="quistion">Question</label>
                    <input type="text" name="question" value="<%= fromDB.question %>"><br>

                    <label for="optionA">First Option</label>
                    <input type="text" name="optionA" value="<%= fromDB.optiona %>"><br>

                    <label for="optionB">Second Option</label>
                    <input type="text" name="optionB" value="<%= fromDB.optionb %>"><br>

                    <label for="optionC">Third Option</label>
                    <input type="text" name="optionC" value=<%=fromDB.optionc %>><br>

                    <label for="optionD">Fourth Option</label>
                    <input type="text" name="optionD" value="<%= fromDB.optiond %>"><br>

                    <label for="correctAnswer">Correct Answer</label>
                    <input type="text" name="correctAnswer" value="<%= fromDB.correctAnswer %>">
                    <br>

                    <input type="submit" value="Update Quiz">
            </fieldset>
        </form>
    </section>
    <% }); %>

</body>

</html>