<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Quiz</title>
</head>

<body>
    <header>

    </header>
    <main>

        <form action="/start" method="POST">
            <fieldset>
                <select name="category" id="category">
                    <option value="choose">choose category ...</option>
                    <option value="Any">Any</option>
                    <optgroup label="Science">
                        <option value="17">Nature</option>
                        <option value="18">Computers</option>
                        <option value="19">Mathemetics</option>
                    </optgroup>
                    <optgroup label="General">
                        <option value="9">General Knowledge</option>
                        <option value="23">History</option>
                        <option value="22">Geography</option>
                        <option value="21">Sports</option>
                        <option value="25">Celebrities</option>
                        <option value="28">Vehicles</option>
                        <option value="20">Mythology</option>
                    </optgroup>
                    <optgroup label="Entertainment">
                        <option value="10">Books</option>
                        <option value="11">Film</option>
                        <option value="12">Music</option>
                        <option value="14">Television</option>
                        <option value="15">Video Games</option>
                        <option value="16">Board Games</option>
                        <option value="29">Comics</option>
                        <option value="32">Cartoon & Animation</option>
                    </optgroup>

                </select>
            </fieldset>
            <fieldset>
                <legend></legend>
                <input type="radio" name="level" id="easy" value="easy" required> Easy </input>
                <input type="radio" name="level" id="medium" value="medium"> Medium </input>
                <input type="radio" name="level" id="hard" value="hard"> Hard </input>
            </fieldset>

            <input type="submit" value="Start"></input>

        </form>

        <section>
            <% questions.forEach(question=> {%>
                <div class="question" id="">
                    <h5>
                        <%= question.questionText %>
                    </h5>
                    <form id="check">
                        <input type="radio" name="answer" value="<%= question.choices[0] %>">
                        <%= question.choices[0] %>
                            </input>
                            <input type="radio" name="answer" value="<%= question.choices[1] %>">
                            <%= question.choices[1] %>
                                </input>
                                <input type="radio" name="answer" value="<%= question.choices[2] %>">
                                <%= question.choices[2] %>
                                    </input>
                                    <input type="radio" name="answer" value="<%= question.choices[3] %>">
                                    <%= question.choices[3] %>
                                        </input>
                                    </div>
                                    <% }); %>
                                    <input type="submit"> Submit </input>
                                </form>
        </section>
    </main>
    <footer>
        <a href="/users/logout">Logout</a>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            let difficulty = 'easy',
                id = '1';
            $('input').on('change', event => {
                console.log(event);
                difficulty = event.target.id;
            })
            $('section').on('click', (event) => {
                id = event.target.id;
                $.post('/start', {
                    category: id,
                    difficulty: difficulty
                });
            });
        </script> -->
    </footer>
</body>

</html>